# findutils gnulib.config -*- sh -*-

# What version of gnulib to use?
gnulib_version="7dfa1250265017223e36c72713a7521421b4d27c"
destdir="gnulib"

# Random extra gnulib files needed for findutils.
extra_files='
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/mdate-sh
build-aux/mkinstalldirs
build-aux/missing
build-aux/texinfo.tex
'

gpl3_update_files=''

# gnulib modules needed only for maintainer things.
maintainer_modules='
maintainer-makefile
update-copyright
'

# Modules needed for findutils.
# We need regex to ensure that we can build on platforms like
# Solaris which lack those functions.
modules='
alloca
areadlinkat
argmatch
assert
c-strstr
canonicalize
cloexec
closein
closeout
ctype
dirname
error
fchdir
fcntl
fdl
fileblocks
filemode
fnmatch-gnu
fopen-safer
fts
getdate
getline
getopt-gnu
gettext
gpl-3.0
hash
human
idcache
inline
inttypes
lstat
malloc
math
mbrtowc
mbscasestr
mbsstr
mktime
modechange
mountlist
open
pathmax
progname
quotearg
realloc
regex
rpmatch
savedir
selinux-at
stat-macros
stat-time
stdbool
stdint
stpcpy
strcasestr
strdup-posix
strftime
strtol
strtoul
strtoull
strtoumax
sys_stat
timespec
verify
version-etc
version-etc-fsf
warnings
wchar
wcwidth
xalloc
xalloc-die
xgetcwd
xstrtod
xstrtol
xstrtoumax
yesno
'"${maintainer_modules}"

# Obsolete modules we've removed.
# memcmp memset
