# What version of gnulib to use?
# To late: gnulib_version="2005-07-30"
# ?Too early gnulib_version="2005-07-10"

gnulib_version="2007-02-24"
# 4.2.29: At or after 2005-07-11 12:21:55 +0100 (lib/getcwd.h)
# 4.2.29: At or after 2005-07-11 12:21:55 +0100 (lib/time_r.h)
# 4.2.29: At or after 2005-07-15 22:01:41 +0100 (lib/quotearg.c)
# 4.2.29: At or after 2005-07-26 22:55:31 +0100 (m4/getopt.m4)


# 4.2.29: Before 2005-09-19 18:28:14 +0100      (lib/quotearg.c)
# 4.2.29: Before 2006-03-12 07:58:12 +0000      (lib/time_r.h)


destdir="gnulib"

# Random extra gnulib files needed for findutils.
extra_files='
build-aux/config.guess
build-aux/config.rpath
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
'

# Modules needed for findutils.
# We need regex to ensure that we can build on platforms like
# Solaris which lack those functions.
modules="\
alloca  argmatch  dirname error fileblocks fnmatch-gnu fopen-safer \
getline getopt human idcache lstat malloc memcmp memset mktime	\
modechange pathmax quotearg realloc regex rpmatch savedir \
stpcpy strdup strftime  strstr strtol strtoul strtoull strtoumax  \
xalloc xalloc-die xgetcwd  xstrtol  xstrtoumax yesno human filemode \
getline stpcpy canonicalize mountlist closeout gettext stat-macros"

