Makefile
Makefile.in
mdate-sh
find.aux
find.cp
find.cps
find.dvi
find.fn
find.fns
find.info
find.info-1
find.info-2
find.ky
find.log
find.pg
find.ps
find.toc
find.tp
find.vr
stamp-vti
version.texi
texinfo.tex
getdate.texi
versionmaint.texi
stamp-1
find-maint.info
fdl.texi
gpl-3.0.texi
regexprops-generic.texi
/parse-datetime.texi
