.deps
Makefile
Makefile.in
regexprops
gnulib-version.c
buildcmd.o
dircallback.o
extendbuf.o
fdleak.o
findutils-version.o
forcefindlib.o
gnulib-version.o
listfile.o
nextelem.o
printquoted.o
qmark.o
regextype.o
safe-atoi.o
savedirinfo.o
libfind.a
regexprops.o
