Source: findutils
Section: base
Priority: required
Maintainer: Kevin Dalley <kevind@rahul.net>
Standards-Version: 3.5.2.0
Build-Depends: libc6-dev (>= 2.2.3-1), texinfo

Package: findutils
Architecture: any
Essential: yes
Pre-Depends: ${shlibs:Pre-Depends}
Description: utilities for finding files--find, xargs, and locate
 These utilities find files meeting specified criteria and perform
 various actions on the files which are found.

